
.number-btn:active {
  background-color: hsl(var(--clr-white) / 0.5);
}

.function-btn:active {
  background-color: hsl( var(--clr-white) / 0.80);
}

.symbol-btn:focus,
.symbol-selected {
  background-color: hsl( var(--clr-white));
  color: hsl( var(--clr-accent));
}

.clear-btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}