/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

.number-btn:active {
  background-color: hsl(var(--clr-white) / 0.5);
}

.function-btn:active {
  background-color: hsl( var(--clr-white) / 0.80);
}

.symbol-btn:focus,
.symbol-selected {
  background-color: hsl( var(--clr-white));
  color: hsl( var(--clr-accent));
}

.btn {
  aspect-ratio: var(--aspect-ratio, 1);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0 1.5rem;
  font-family: var(--ff-sans-serif);
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  position: relative;
  max-width: 3rem;
}

.btn > * {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number-display {
  max-width: 9ch;
  overflow: hidden;
}