:root {
  /* Colors */
  --clr-light: 0 0% 65%;
  --clr-dark: 0 0% 20%;
  --clr-accent: 36 99% 52%;
  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;

  --ff-monospace: Courier, monospace;
  --ff-sans-serif: Helvetica, sans-serif;
  --fs-500: 3rem;
  --fs-400: 2rem;
  --fs-300: 1.25rem;
  --fs-200: 1rem;
  --fs-100: 0.5rem; 
}