.container {
  max-width: 30rem;
  margin-inline: auto;
  padding: 1.5rem;
}
/******************************
Color Utitlies
******************************/
.font-white {
  color: hsl( var(--clr-white));
}

.font-black {
  color: hsl( var(--clr-black));
}

.font-accent {
  color: hsl( var(--clr-accent))
}

.bg-black {
  background-color: hsl( var(--clr-black) );
}

.bg-white {
  background-color: hsl( var(--clr-white) );
}

.bg-dark {
  background-color: hsl( var(--clr-dark) );
}

.bg-light {
  background-color: hsl( var(--clr-light) );
}

.bg-accent {
  background-color: hsl( var(--clr-accent));
}

/******************************
Font Utitlies
******************************/
.ff-monospace { font-family: var(--ff-monospace); }
.ff-sans-serif { font-family: var(--ff-sans-serif); }
.fs-400 { font-size: var(--fs-400); }


/******************************
Multi-line Utitlies
******************************/
.btn {
  aspect-ratio: var(--aspect-ratio, 1);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  font-family: var(--ff-sans-serif);
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  position: relative;
  width: 3rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: var(--flex-gap, 1rem);
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

